{{> header}}




<div class="album py-5 " style="margin-top: 3.8%;">

  <div class="container">
    <div >
  
        <h1 class="text-center" style="color: rgb(120, 0, 0);margin-bottom: 2%;" id="title">Games</h1>
      
    </div>

   
    <div class="row">
      {{#results}}
      <div class="col-md-4">
        <a href="/read/{{id}}" style="text-decoration: none;color: rgb(253, 240, 213);">
          <div class="card mb-4 box-shadow" style="background-color: rgb(0, 48, 73);border-radius: 2%;">
            <div class="card-img-container d-flex justify-content-center align-items-center">
              <img src="{{thumbnail}}" class="card-img-top ">
            </div>
            <div class="card-body">
              <h3 class="card-text text-center" id="title2">{{title}}</h3>
              <div style="display: flex;justify-content: center;margin-top: 5%;"><p id="plateformInfo">{{platform}}</p></div>
            </div>
          </div>
        </a>
      </div>
      
      
       
      {{/results}}
    </div>
  
   

  </div>

</div>

<style>

    .card{
        height: 350px;
        border: 2px solid rgb(253, 240, 213);
        box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    
    }
    body{
      background-color: rgb(102, 155, 188);
    }

    .card:hover{
        transform: scale(1.05);
        
    }

    #title {
        color: rgb(120, 0, 0);
        margin-bottom: 2%;
        background: linear-gradient(to right, #e21635, #4d102e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

</style>
 
  

{{> footer}}
<script>



  // get all the elements with id "plateformInfo"
  var infoElements = document.querySelectorAll("#plateformInfo");
  
  // loop through the elements
  infoElements.forEach(function(info) {
    //console.log(info.textContent)
    var image = document.createElement("img");
  
    if(info.textContent == 'Web Browser'){
  
      // create an image element
    
      image.src = "https://cdn.discordapp.com/attachments/1029695073018982471/1091713522720833596/browser.png";  
      image.height = "48";
      image.width = "48";
      
      // replace the existing text with the image
      info.textContent = "";
      info.appendChild(image);
      
    }if(info.textContent == 'PC (Windows)') {
  
      // create an image element
      image.src = "https://cdn.discordapp.com/attachments/1029695073018982471/1091713522951540736/pc.png";
      image.height = "48";
      image.width = "48";
      
      // replace the existing text with the image
      info.textContent = "";
      info.appendChild(image);
  
    }
    if(info.textContent == 'PC (Windows), Web Browser') {
  
      // create an image element
      image.src = "https://i.postimg.cc/P5v4LbYf/twice-removebg-preview.png";
      image.height = "48";
      image.width = "135";
      
      // replace the existing text with the image
      info.textContent = "";
      info.appendChild(image);

    }

    
  });

  
  </script>

<script>

        
  //const title2 = document.getElementById("title2");
  var title2 = document.querySelectorAll("#title2");


 title2.forEach(function(title) {
  
    //console.log(title.textContent);
   if (title.textContent.length>20) {
     // Reduce the font size of the title
     title.style.fontSize = "1.24rem";


    }  

 })




</script>
 