{{> header}}




<div class="album py-5 " style="margin-top: 3.8%;background-color: rgb(102, 155, 188) ;">

  <div class="container">
    <div >
  
        <h1 class="text-center" style="color: rgb(120, 0, 0);margin-bottom: 2%;" id="title">Flash Games</h1>
      
    </div>

   
    <div class="row">
      {{#results}}

        <div class="col-md-4 "  >
          <a href="/play/{{id}}" style="text-decoration: none;color: rgb(253, 240, 213);">
            <div class="card mb-4 box-shadow" style="background-color:  rgb(0, 48, 73);">
                <img src="{{thumbnail}}" class="card-img-top" height="300">
                <div class="card-body">
                    <h3 class="card-text text-center" class="card-text"  >{{title}}</h3>
                    <!--<p class="card-text text-center" class="card-text" >{{description}}</p>-->
                </div>
              </div>

          </a>
            
          
        </div>
       
      {{/results}}
    </div>
  
   

  </div>

</div>

<style>

    .card{
        /*height: 700px;*/
        border: 2px solid rgb(253, 240, 213);
        box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    
    }

    .card:hover{
        transform: scale(1.05);
       
    }

    #title {
        color: rgb(120, 0, 0);
        margin-bottom: 2%;
        background: linear-gradient(to right, #e21635, #4d102e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

</style>
 
  

{{> footer}}
