{{> header}} 

<div class="main">
  <div class="left-column"></div>
  
  <div class="middle-column" style="background-color: #B2DCE2;">
    <div clas="main" style="margin-top: 10%; background-color: #B2DCE2;">

      <div class="jumbotron jumbotron-fluid" style="margin-top: 10%;">
        <div class="container container-fluid " >
          <h1 class="display-4">Top Free Anime Games for Browser In 2023!</h1>
          
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                {{#firstGame}}
                    <a href="/read/{{id}}">
                      <img src="{{thumbnail}}" class="d-block w-100" alt="...">
                    </a>
                  {{/firstGame}}
              </div>
              {{#game}}
                  <div class="carousel-item">
                    <a href="/read/{{id}}">
                      <img src="{{thumbnail}}" class="d-block w-100" alt="...">
                    </a>
                  </div>
              {{/game}}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

            <div class="row" style="margin-top: 10%;">
              {{#games}}
              <div class="col">
                <a href="/read/{{id}}" style="text-decoration: none;color: rgb(246, 244, 241);">

                <div div class="card mb-4 box-shadow" style="background-color:#B2DCE2;border-radius: 2%;">
                  <img src="{{thumbnail}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center;  color: #2362CA;">{{title}}</h5>
                    
                    <ul style="display: flex; margin-top: 10%;">
                      <li><a href="/read/{{id}}" class="btn btn-primary" style="background-color: transparent; color: #2362CA;">See more</a></li>
                      <li>
                        <p id="plateformInfo">{{platform}}</p>
                        <!--<img src="https://i.postimg.cc/tCXYBQLk/browser.png" height="64" width="64">-->
                      </li>
                     

                    </ul>
                </div>
              </div>
            </div>
            {{/games}}
          </div>
        


        </div>
      </div>  
    </div> 
  </div>
  
  <div class="right-column"></div>
</div>
{{> footer}}
<style>
  .main {
  display: flex;
  justify-content: space-between;
}

.left-column,
.right-column {
  width: 20%;
  height: 400vh;
  background-image: url('https://cdn.discordapp.com/attachments/1029695073018982471/1093201871805632683/stickers-fond-transparent-de-jeu-video.jpg.jpg');
  background-repeat: repeat;
}

.middle-column {
  width: 100%;
  padding: 0 10px;
}
.card{
  border: 2px solid rgb(7, 7, 7);
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.card:hover{
  transform: scale(1.05);
       
       
}
</style>



<script>



  // get all the elements with id "plateformInfo"
  var infoElements = document.querySelectorAll("#plateformInfo");
  
  // loop through the elements
  infoElements.forEach(function(info) {
    var image = document.createElement("img");
  
    if(info.textContent == 'Web Browser'){
  
      // create an image element
    
      image.src = "https://cdn.discordapp.com/attachments/1029695073018982471/1093328465916342312/icons8-website-48.png";  
      image.height = "40";
      image.width = "40";
      
      // replace the existing text with the image
      info.textContent = "";
      info.appendChild(image);
      
    }if(info.textContent == 'PC (Windows)') {
  
      // create an image element
      image.src = "https://cdn.discordapp.com/attachments/1029695073018982471/1093324820353134592/icons8-pc-game-64.png";
      image.height = "40";
      image.width = "40";
      
      // replace the existing text with the image
      info.textContent = "";
      info.appendChild(image);
  
    }
  });
  </script>