{{> header}}
  <div class="grid" style="margin-top: 10%;">
    <div class="container">
      
      <div class="row" style="display: flex;justify-content: center;">
        {{#results}}
          <div  class="col-md-4" >
        
              <h1>{{title}}</h1>
              
              
            
              <p> {{description}}</p>
              <p>Link: {{game_url}}</p>
              <ul style="list-style-type: circle;">
                <li>publisher:{{publisher}}</li>
                <li>developer:{{developer}}</li>
                <li>release_date:{{release_date}}</li>
                <li>genre:{{genre}}</li>

              </ul>


            
              <div  >
                <h2> Configuration </h2>
                {{#minimum_system_requirements}}
                  <ul style="list-style-type: circle;">

                    <li>os: {{os}}</li>
                    <li>processor: {{processor}}</li>
                    <li>memory:{{memory}}</li>
                    <li>graphics:{{graphics}}</li>
                    <li>storage:{{storage}}</li>
                

                  </ul>
                
    
                {{/minimum_system_requirements}}

                
              </div>
             
          
    
          </div>
          <div class="col-md-4" style="margin-top: 0%;margin-left: 5%;"> 
             <img src="{{thumbnail}}" style="margin-left: 5%;border: 2px solid rgb(196, 87, 68);" >
             <h2 style="display: flex;justify-content: center;">Gameplay</h2>
              <div  >
              
                {{#screenshots}}
                  <div style="display: flex;justify-content: center;">
                    <img src="{{image}}"  style="margin-left: 0%;margin-top: 2%;border-radius: 3%;border: 2px solid rgb(253, 240, 213);" height="200"  width="300"   >
                  </div>
                  
              
              

                {{/screenshots}}
              </div>
          


                  
          
            
            </div>


            <div class="col-md-4">
             





            </div>

      

          
         
           
        {{/results}}
  
      </div>
     
    </div>

    {{#authenticated}}
    

      {{^gameExists}}
        <form method="POST" action="/add_favorite" style="margin-left: 50%;">
          <input type="hidden" name="idgame" value="{{id}}">
          <input type="hidden" name="title" value="{{title}}">
          <input type="hidden" name="thumbnail" value="{{thumbnail}}">
          <input type="hidden" name="description" value="{{short_description}}">
        
          <button type="submit">add favorite</button>
        </form>
        
      

      {{/gameExists}}
    
    {{/authenticated}}
    
   
  </div>
  
 
{{> footer}}
